.contacts__wrapper {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 6px;
}

.contacts__map {
  background-image: url("../img/map-desktop@1x.jpg");
  min-height: 457px;
}

.contacts__title {
  color: @secondary;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  padding: 30px;
  margin: 0;
}

.contacts__param {
  color: @neutral;
  font-size: 15px;
  line-height: 30px;
  padding: 0 30px;
}

.contacts__write {
  margin: 30px;
}
