.copyright {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: @secondary;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  padding-top: 13px;
}

.copyright__logo {
  path {
    fill: @accent-dark;
  }
  width: 27px;
  height: 34px;
  margin: 9px 0 0 29px;
}

@media (min-width: @tablet-width) {
  .copyright {
    padding-top: 0;
  }
}
