.link-list {
  display: none;
}

@media (min-width: @tablet-width) {
  .link-list {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .link-list {
    display: block;
    width: 670px;
    min-height: 60px;
  }
}
