.page-footer {
  background-color: @white-two;
}

.page-footer__wrapper {
  background-color: @white-one;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 6px;
  padding: 30px;
}
