.page-form {
  background-color: @white-one;
}

.page-form__subtitle {
  padding: 0 30px;
  color: @greyish-brown;
  font-size: 13px;
  line-height: 24px;
}

.page-form__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: @white-two;
  padding: 75px;
}

.page-form__form {
  padding: 0 30px;
}
