.product-week {
  background-color: @white-one;
}

.product-week__wrapper {
  padding: 30px;
}

.product-week__title {
  color: @black-three;
  font-size: 25px;
  line-height: 30px;
}

.product-week__subtitle {
  color: @seafoam-blue;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-week__description {
  color: @greyish-brown;
  font-size: 15px;
  line-height: 1.6;
}

.product-week__param {
  color: @greyish-brown;
  font-size: 15px;
  line-height: 1.6;
  border-spacing: 0;
}

.product-week__price {
  color: @greyish-brown;
  font-size: 17px;
  line-height: 1.41;
  font-weight: bold;
  text-align: center;
}
