.product-main {
  background-image: url("../img/hero-desktop@1x.jpg");
  min-height: 283px;
  color: @very-dark-brown;
  font-size: 27px;
  line-height: 1.11;
  text-align: center;
  margin: 0;
  padding: 0;
}
