.product-week {
  // background-color: @primary;
}

.product-week__wrapper {
  width: 320px;
  margin: 0 auto;
  min-height: 827px;
  // padding: 30px;
}

@media (min-width: @tablet-width) {
  .product-week__wrapper {
    width: 670px;
    min-height: 627px;
  }
}

@media (min-width: @desktop-width) {
  .product-week__wrapper {
    width: 1050px;
    min-height: 807px;
  }
}

.product-week__title {
  color: @secondary;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.product-week__subtitle {
  color: @accent-dark;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-week__description {
  color: @neutral;
  font-size: 15px;
  line-height: 1.6;
}

.product-week__param {
  color: @neutral;
  font-size: 15px;
  line-height: 1.6;
  border-spacing: 0;
}

.product-week__price {
  color: @neutral;
  font-size: 17px;
  line-height: 1.41;
  font-weight: bold;
  text-align: center;
}
