.product-main {
  color: @secondary-light;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 70px 30px 122px;
}

@media (min-width: @tablet-width) {
  .product-main {
    font-size: 43px;
    line-height: 50px;
    padding: 153px 50px 372px;
  }

  .product-main br {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .product-main {
    font-size: 53px;
    line-height: 57px;
    padding: 153px 175px 360px;
  }
}
