.reviews__wrapper {
  padding: 30px;
}

.reviews__title {
  color: @black-three;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  color: @greyish-brown;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  color: @black-three;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
}

.reviews__author-link {
  color: @greyish-brown;
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
}
