.social {
  border-bottom: solid 1px #e5e5e5;
}

.social__list {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 25px 0;
  width: 144px;
  margin: 0 auto;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
}

.social__link svg {
  fill: @secondary;

  &:hover {
    fill: @accent-link;
  }

  &:active {
    fill: @accent-link;
    opacity: 0.3;
  }
}

.social__link--instagram {
  position: relative;
  top: 4px;
}

.social__link--facebook {
  position: relative;
  top: 0;
}

.social__link--twitter {
  position: relative;
  top: 5px;
}

@media (min-width: @tablet-width) {
  .social {
    display: flex;
    border-bottom: none;
  }

  .social__list {
    padding: 57px 0 56px;
  }
}
