@primary: #ffffff;
@primary-light: #f1f1f1;
@secondary: #000000;
@secondary-light: #010000;
@accent-dark: #63d1bb;
@accent-light: #56c3b2;
@neutral: #444444;

@mobile-width: 320px;
@tablet-width: 770px;
@desktop-width: 1150px;
